openapi: 3.1.0
info:
  title: Hyperline API
  version: 0.0.0
servers:
- url: https://api.hyperline.co
- url: https://sandbox.api.hyperline.co
paths:
  /v2/customers:
    get:
      operationId: listCustomers
      tags:
      - Customers
      security:
      - bearer: []
      summary: List customers
      description: Retrieve existing customers.
      parameters:
      - schema:
          type: number
          exclusiveMinimum: 0
          maximum: 100
          default: 50
          description: Maximum number of items to return (1-100).
          example: 50
        required: false
        description: Maximum number of items to return (1-100).
        name: limit
        in: query
      - schema:
          type: string
          description: Opaque cursor returned in the previous response's `next_cursor`.
            Omit to fetch the first page.
        required: false
        description: Opaque cursor returned in the previous response's `next_cursor`.
          Omit to fetch the first page.
        name: cursor
        in: query
      - schema:
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
          default: false
          description: Set to `true` to include `total` in the response.
          example: false
        required: false
        description: Set to `true` to include `total` in the response.
        name: include_total
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction.
          example: desc
        required: false
        description: Sort direction.
        name: order
        in: query
      - schema:
          type: string
          enum:
          - created_at
          - updated_at
          description: Field used to sort the results.
        required: false
        description: Field used to sort the results.
        name: sort
        in: query
      - schema:
          type: string
        required: false
        name: name
        in: query
      - schema:
          type: string
        required: false
        name: name__not
        in: query
      - schema:
          type: string
        required: false
        name: name__isNull
        in: query
      - schema:
          type: string
        required: false
        name: name__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: name__equals
        in: query
      - schema:
          type: string
        required: false
        name: name__contains
        in: query
      - schema:
          type: string
        required: false
        name: name__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: name__endWith
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - corporate
            - person
          - type: string
            description: corporate,person
        required: false
        name: type
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - corporate
            - person
          - type: string
            description: corporate,person
        required: false
        name: type__in
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - all
            - active
            - inactive
            - imported
            - archived
          - type: string
            description: all,active
        required: false
        name: status
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - all
            - active
            - inactive
            - imported
            - archived
          - type: string
            description: all,active
        required: false
        name: status__in
        in: query
      - schema:
          type: string
        required: false
        name: currency
        in: query
      - schema:
          type: string
        required: false
        name: currency__not
        in: query
      - schema:
          type: string
        required: false
        name: currency__isNull
        in: query
      - schema:
          type: string
        required: false
        name: currency__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: currency__equals
        in: query
      - schema:
          type: string
        required: false
        name: currency__contains
        in: query
      - schema:
          type: string
        required: false
        name: currency__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: currency__endWith
        in: query
      - schema:
          type: string
        required: false
        name: country
        in: query
      - schema:
          type: string
        required: false
        name: country__not
        in: query
      - schema:
          type: string
        required: false
        name: country__isNull
        in: query
      - schema:
          type: string
        required: false
        name: country__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: country__equals
        in: query
      - schema:
          type: string
        required: false
        name: country__contains
        in: query
      - schema:
          type: string
        required: false
        name: country__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: country__endWith
        in: query
      - schema:
          type: string
        required: false
        name: external_id
        in: query
      - schema:
          type: string
        required: false
        name: external_id__not
        in: query
      - schema:
          type: string
        required: false
        name: external_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: external_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: external_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: external_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: external_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: external_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: billing_email
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__not
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__isNull
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__equals
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__contains
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: billing_email__endWith
        in: query
      - schema:
          type: string
        required: false
        name: search
        in: query
      - schema:
          type: string
        required: false
        name: tax_id
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__not
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: tax_id__endWith
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - active
            - pending
            - cancelled
            - paused
            - trialing
            - errored
            - draft
            - none
          - type: string
            description: active,pending
        required: false
        name: subscription_status
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - active
            - pending
            - cancelled
            - paused
            - trialing
            - errored
            - draft
            - none
          - type: string
            description: active,pending
        required: false
        name: subscription_status__in
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__not
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: segment_id
        in: query
      - schema:
          type: string
        required: false
        name: custom_properties
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - card
            - direct_debit
            - direct_debit_ach
            - direct_debit_bacs
            - transfer
            - external
            - missing
            - errored
          - type: string
            description: card,direct_debit
        required: false
        name: payment_method_type
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - card
            - direct_debit
            - direct_debit_ach
            - direct_debit_bacs
            - transfer
            - external
            - missing
            - errored
          - type: string
            description: card,direct_debit
        required: false
        name: payment_method_type__in
        in: query
      - schema:
          type: string
        required: false
        name: integration_entity_id
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: created_at__gte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__gte
        in: query
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedCustomer'
  /v2/customers/{id}:
    get:
      operationId: getCustomer
      tags:
      - Customers
      security:
      - bearer: []
      summary: Get customer
      description: Retrieve the details of an existing customer.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetails'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
  /v2/invoices:
    get:
      operationId: listInvoices
      tags:
      - Invoices
      security:
      - bearer: []
      summary: List invoices
      description: Retrieve existing invoices. By default, invoices with status open
        are not included.
      parameters:
      - schema:
          type: number
          exclusiveMinimum: 0
          maximum: 100
          default: 50
          description: Maximum number of items to return (1-100).
          example: 50
        required: false
        description: Maximum number of items to return (1-100).
        name: limit
        in: query
      - schema:
          type: string
          description: Opaque cursor returned in the previous response's `next_cursor`.
            Omit to fetch the first page.
        required: false
        description: Opaque cursor returned in the previous response's `next_cursor`.
          Omit to fetch the first page.
        name: cursor
        in: query
      - schema:
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
          default: false
          description: Set to `true` to include `total` in the response.
          example: false
        required: false
        description: Set to `true` to include `total` in the response.
        name: include_total
        in: query
      - schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction.
          example: desc
        required: false
        description: Sort direction.
        name: order
        in: query
      - schema:
          type: string
          enum:
          - created_at
          - emitted_at
          description: Field used to sort the results.
        required: false
        description: Field used to sort the results.
        name: sort
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - invoice
            - refund
            - document
            - child_invoice_ref
            - child_creditnote_ref
          - type: string
            description: invoice,refund
        required: false
        name: type
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - invoice
            - refund
            - document
            - child_invoice_ref
            - child_creditnote_ref
          - type: string
            description: invoice,refund
        required: false
        name: type__in
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - all
            - open
            - grace_period
            - to_pay
            - to_reconcile
            - error
            - paid
            - finalized
            - partially_paid
            - outstanding
            - refunded
            - late
            - draft
            - pending_approval
            - changes_requested
            - voided
            - closed
            - uncollectible
            - pending_consolidation
            - consolidated
          - type: string
            description: all,open
        required: false
        name: status
        in: query
      - schema:
          anyOf:
          - type: string
            enum:
            - all
            - open
            - grace_period
            - to_pay
            - to_reconcile
            - error
            - paid
            - finalized
            - partially_paid
            - outstanding
            - refunded
            - late
            - draft
            - pending_approval
            - changes_requested
            - voided
            - closed
            - uncollectible
            - pending_consolidation
            - consolidated
          - type: string
            description: all,open
        required: false
        name: status__in
        in: query
      - schema:
          type: string
        required: false
        name: customer_id
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__not
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: customer_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: customer_external_id
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__not
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: subscription_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__not
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: invoicing_entity_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__not
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__isNull
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__equals
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__contains
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: invoice_number__endWith
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__not
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__isNull
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__equals
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__contains
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_id__endWith
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__not
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__isNull
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__isNotNull
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__equals
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__contains
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__startsWith
        in: query
      - schema:
          type: string
        required: false
        name: original_invoice_number__endWith
        in: query
      - schema:
          type: string
        required: false
        name: line_item_id
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_start__gte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: period_end__gte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: issued_at__gte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: due_at__gte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__not
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__isNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__isNotNull
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__equals
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__lt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__lte
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__gt
        in: query
      - schema:
          type: string
          format: date-time
        required: false
        name: updated_at__gte
        in: query
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedInvoice'
  /v2/invoices/{id}:
    get:
      operationId: getInvoice
      tags:
      - Invoices
      security:
      - bearer: []
      summary: Get invoice
      description: Retrieve the details of an existing invoice.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetails'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
  /v1/customers:
    post:
      operationId: createCustomer
      tags:
      - Customers
      security:
      - bearer: []
      summary: Create customer
      description: Create a new customer.
      requestBody:
        description: Create customer payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomer'
      responses:
        '201':
          description: The newly created customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailsV1'
  /v1/customers/{id}:
    delete:
      operationId: deleteCustomer
      tags:
      - Customers
      security:
      - bearer: []
      summary: Delete customer
      description: Delete an existing customer. The customer must be archived prior
        to the deletion.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '204':
          description: Customer deleted
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
  /v1/customers/{id}/archive:
    put:
      operationId: archiveCustomer
      tags:
      - Customers
      security:
      - bearer: []
      summary: Archive customer
      description: Archive an existing customer.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '200':
          description: Customer archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerV1'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                required:
                - message
  /v1/invoices:
    post:
      operationId: createInvoice
      tags:
      - Invoices
      security:
      - bearer: []
      summary: Create invoice
      description: Create a new invoice.
      requestBody:
        description: Create invoice payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoice'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetailsV1'
  /v1/invoices/{id}:
    delete:
      operationId: deleteInvoice
      tags:
      - Invoices
      security:
      - bearer: []
      summary: Delete invoice
      description: Delete an invoice in `draft` status or imported from an external
        source. For other statuses, the `POST /v1/invoices/{id}/void` endpoint must
        be used.
      parameters:
      - schema:
          type: string
        required: true
        name: id
        in: path
      responses:
        '204':
          description: ''
components:
  schemas:
    CursorPaginatedCustomer:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
          description: List of Customer.
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor to fetch the next page. `null` when there are no more
            items.
          example: null
        has_more:
          type: boolean
          description: Whether more items are available after this page.
          example: false
        total:
          type: number
          description: Total number of items matching the filters. Only present when
            `include_total=true` was passed.
          example: 1
      required:
      - data
      - next_cursor
      - has_more
    CustomerDetails:
      allOf:
      - $ref: '#/components/schemas/Customer'
      - type: object
        properties:
          payment_method:
            description: Default payment method of the customer. Only applies to card
              and direct debit.
            $ref: '#/components/schemas/PaymentMethod'
          bank_account:
            allOf:
            - $ref: '#/components/schemas/BankAccount'
            - anyOf:
              - $ref: '#/components/schemas/StandardBankAccount'
              - $ref: '#/components/schemas/ConnectedBankAccount'
              - type: 'null'
              description: Custom bank account for the customer. If not defined and
                customer paying by bank transfer, the bank accounts configured in
                your account settings will be used.
          organisation_id:
            type:
            - string
            - 'null'
            description: Parent organization ID to which the client is attached.
            example: null
          organisation_invoicing:
            type:
            - string
            - 'null'
            enum:
            - none
            - every_invoice
            - concat
            description: "\nHow customer invoices are issued from the parent organisation.\n\
              \n- `none`: Invoices will keep being issued from this customer.\n- `every_invoice`:\
              \ Customer invoices will be issued from the organisation individually.\n\
              - `concat`: Customer invoices will be grouped into a global parent invoice\
              \ at a regular schedule (configured on the organisation).\n "
            example: null
        required:
        - payment_method
        - bank_account
        - organisation_id
        - organisation_invoicing
    CursorPaginatedInvoice:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
          description: List of Invoice.
        next_cursor:
          type:
          - string
          - 'null'
          description: Cursor to fetch the next page. `null` when there are no more
            items.
          example: null
        has_more:
          type: boolean
          description: Whether more items are available after this page.
          example: false
        total:
          type: number
          description: Total number of items matching the filters. Only present when
            `include_total=true` was passed.
          example: 1
      required:
      - data
      - next_cursor
      - has_more
    InvoiceDetails:
      allOf:
      - $ref: '#/components/schemas/Invoice'
      - type: object
        properties:
          integrations:
            type: array
            items:
              type: object
              properties:
                entity_id:
                  type: string
                  description: ID of the entity in the provider.
                provider_name:
                  type: string
                  enum:
                  - adyen
                  - stripe
                  - mollie
                  - gocardless
                  - airwallex
                  - salesforce
                  - hubspot
                  - attio
                  - xero
                  - pennylane
                  - zoho-books
                  - exact-online
                  - quickbooks
                  - netsuite
                  - rillet
                  - datev
                  - anrok
                  - chargebee
                  - slack
                  - plain
                  - zendesk
                  - pylon
                  - intercom
                  - front
                  - helpscout
                  - claap
                  - grain
                  - gong
                  - jiminny
                  - posthog
                  description: Provider name.
                provider_account_id:
                  type: string
                  description: ID of the connected provider account.
              required:
              - entity_id
              - provider_name
              - provider_account_id
              description: Reference to the entity in an external provider.
              example:
                entity_id: '123456789'
                provider_name: stripe
                provider_account_id: acc_1234567890
        required:
        - integrations
    CreateCustomer:
      type: object
      properties:
        name:
          type: string
          description: Customer name.
          example: Acme
        type:
          type: string
          enum:
          - corporate
          - person
          description: "\nCustomer type.\n\n- `corporate`: The customer is a business\
            \ entity.\n- `person`: The customer is a natural person.\n- `automatically_created`:\
            \ The customer was automatically imported (e.g. from a data loader). This\
            \ value cannot be used when creating/editing.\n "
          example: corporate
        currency:
          type: string
          enum:
          - EUR
          - AED
          - AFN
          - XCD
          - ALL
          - AMD
          - AOA
          - ARS
          - USD
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - XOF
          - BMD
          - BND
          - BOB
          - BRL
          - BSD
          - BTN
          - NOK
          - BWP
          - BYR
          - BZD
          - CAD
          - CDF
          - XAF
          - CHF
          - NZD
          - CLP
          - CNY
          - COP
          - CRC
          - CUP
          - CVE
          - ANG
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - MAD
          - ERN
          - ETB
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MUR
          - MVR
          - MWK
          - MXN
          - MYR
          - MZN
          - NAD
          - XPF
          - NGN
          - NIO
          - NPR
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - YER
          - ZAR
          - ZMW
          - ZWL
          description: Currency code. See [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes).
          example: EUR
        country:
          type: string
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BF
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ES-CE
          - ES-ML
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PT-20
          - PT-30
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - ZA
          - ZM
          - ZW
          description: Deprecated field, please use `billing_address.country`.
          example: FR
          deprecated: true
        is_government_affiliated:
          type: boolean
          description: Indicates if the customer is affiliated with a government entity.
          example: false
        vat_number:
          type: string
          description: Deprecated field, please use `tax_id`.
          deprecated: true
        vat_rate_custom:
          type: number
          minimum: 0
          maximum: 100
          description: Deprecated field, please use `tax_rate_custom`.
          deprecated: true
        tax_ids:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: Value of the customer tax ID.
                example: FR123456789
            required:
            - value
          maxItems: 1
          description: Customer tax IDs.
        local_tax_number:
          type: string
          description: Customer local tax number.
          example: 12/345/67890
        tax_rate_custom:
          type: number
          minimum: 0
          maximum: 100
          description: Customer custom tax rate. If not defined, the rate will be
            automatically determined based on the customer's country, your country,
            and applicable legal requirements.
        taxability:
          type: string
          enum:
          - taxable
          - exempt
          description: "Customer taxability.\n\n- `taxable`: Taxes are automatically\
            \ determined for the customer.\n- `exempt`: The customer is exempt from\
            \ tax.\n "
          example: taxable
        registration_number:
          type: string
          description: Customer registration number.
          example: '36252187900034'
        external_id:
          type: string
          description: ID of the customer in your system. This helps matching your
            customer with the one on Hyperline.
        domain:
          type: string
          pattern: ^(?!:\/\/)(?=.{1,253}$)(?!-)([a-z0-9-]{1,63}\.)+[a-z]{2,63}$
          description: Customer domain. If not defined, it is inferred from the billing
            email.
          example: acme.com
        invoicing_entity_id:
          type: string
          description: ID of the invoicing entity this customer will be attached to.
        billing_address:
          allOf:
          - $ref: '#/components/schemas/Address'
          - type: object
        shipping_address:
          allOf:
          - $ref: '#/components/schemas/Address'
          - type: object
            description: Customer shipping address.
        billing_email:
          type: string
          format: email
          description: Email to which all communications will be sent.
          example: billing@acme.com
        invoice_emails:
          type: array
          items:
            type: string
            format: email
          description: Emails to which invoices will be sent (e.g. payer, finance
            team, accounting firm). If not defined, invoices will be sent to the `billing_email`;
            otherwise, they won't be sent to the `billing_email`.
          example:
          - accounting@acme.com
        language:
          type: string
          enum:
          - fr
          - en
          - de
          - it
          - nl
          - es
          - pt
          - pl
          description: Language used for invoices, emails, and hosted pages.
          example: fr
        timezone:
          type: string
          enum:
          - Pacific/Midway
          - Pacific/Pago_Pago
          - Pacific/Niue
          - Pacific/Rarotonga
          - Pacific/Honolulu
          - Pacific/Tahiti
          - Pacific/Marquesas
          - Pacific/Gambier
          - America/Adak
          - America/Anchorage
          - Pacific/Pitcairn
          - America/Hermosillo
          - America/Phoenix
          - America/Los_Angeles
          - America/Tijuana
          - America/Vancouver
          - America/Whitehorse
          - America/Belize
          - America/Guatemala
          - America/Managua
          - America/Mexico_City
          - America/Costa_Rica
          - America/El_Salvador
          - America/Regina
          - America/Tegucigalpa
          - Pacific/Easter
          - Pacific/Galapagos
          - America/Edmonton
          - America/Ciudad_Juarez
          - America/Denver
          - America/Rio_Branco
          - America/Chicago
          - America/Matamoros
          - America/Winnipeg
          - America/Bogota
          - America/Atikokan
          - America/Cancun
          - America/Cayman
          - America/Jamaica
          - America/Panama
          - America/Guayaquil
          - America/Lima
          - America/Manaus
          - America/St_Kitts
          - America/Blanc-Sablon
          - America/Montserrat
          - America/Barbados
          - America/Port_of_Spain
          - America/Martinique
          - America/St_Lucia
          - America/St_Barthelemy
          - America/St_Vincent
          - America/Kralendijk
          - America/Guadeloupe
          - America/Marigot
          - America/Aruba
          - America/Lower_Princes
          - America/Tortola
          - America/Dominica
          - America/St_Thomas
          - America/Grenada
          - America/Antigua
          - America/Puerto_Rico
          - America/Santo_Domingo
          - America/Anguilla
          - America/Curacao
          - America/La_Paz
          - America/Santiago
          - America/Havana
          - America/Nassau
          - America/New_York
          - America/Port-au-Prince
          - America/Grand_Turk
          - America/Toronto
          - America/Guyana
          - America/Caracas
          - America/Argentina/Buenos_Aires
          - America/Halifax
          - Atlantic/Bermuda
          - America/Thule
          - America/Sao_Paulo
          - Antarctica/Palmer
          - America/Punta_Arenas
          - Atlantic/Stanley
          - America/Cayenne
          - America/Asuncion
          - America/Paramaribo
          - America/Montevideo
          - America/St_Johns
          - America/Noronha
          - Atlantic/South_Georgia
          - America/Miquelon
          - Atlantic/Cape_Verde
          - America/Nuuk
          - Atlantic/Azores
          - Etc/UTC
          - Africa/Abidjan
          - Africa/Bamako
          - Africa/Bissau
          - Africa/Conakry
          - Africa/Dakar
          - America/Danmarkshavn
          - Africa/Freetown
          - Atlantic/St_Helena
          - Africa/Accra
          - Africa/Lome
          - Africa/Monrovia
          - Africa/Nouakchott
          - Africa/Ouagadougou
          - Atlantic/Reykjavik
          - Africa/Sao_Tome
          - Africa/Banjul
          - Africa/Algiers
          - Africa/Tunis
          - Europe/Isle_of_Man
          - Europe/Dublin
          - Europe/London
          - Europe/Jersey
          - Europe/Guernsey
          - Africa/Bangui
          - Africa/Malabo
          - Africa/Brazzaville
          - Africa/Porto-Novo
          - Africa/Douala
          - Africa/Kinshasa
          - Africa/Lagos
          - Africa/Libreville
          - Africa/Luanda
          - Africa/Ndjamena
          - Africa/Niamey
          - Africa/Casablanca
          - Africa/El_Aaiun
          - Atlantic/Canary
          - Europe/Lisbon
          - Atlantic/Faroe
          - Africa/Bujumbura
          - Africa/Gaborone
          - Africa/Harare
          - Africa/Juba
          - Africa/Khartoum
          - Africa/Kigali
          - Africa/Blantyre
          - Africa/Lubumbashi
          - Africa/Lusaka
          - Africa/Maputo
          - Africa/Windhoek
          - Europe/Andorra
          - Europe/Belgrade
          - Europe/Berlin
          - Europe/Bratislava
          - Europe/Brussels
          - Europe/Budapest
          - Europe/Copenhagen
          - Europe/Gibraltar
          - Europe/Ljubljana
          - Arctic/Longyearbyen
          - Europe/Luxembourg
          - Europe/Madrid
          - Europe/Monaco
          - Europe/Oslo
          - Europe/Paris
          - Europe/Podgorica
          - Europe/Prague
          - Europe/Rome
          - Europe/Amsterdam
          - Europe/San_Marino
          - Europe/Malta
          - Europe/Sarajevo
          - Europe/Skopje
          - Europe/Stockholm
          - Europe/Tirane
          - Europe/Vaduz
          - Europe/Vatican
          - Europe/Vienna
          - Europe/Warsaw
          - Europe/Zagreb
          - Europe/Zurich
          - Europe/Kaliningrad
          - Africa/Tripoli
          - Antarctica/Troll
          - Africa/Johannesburg
          - Africa/Mbabane
          - Africa/Maseru
          - Asia/Kuwait
          - Asia/Bahrain
          - Asia/Baghdad
          - Asia/Qatar
          - Asia/Riyadh
          - Asia/Aden
          - Asia/Amman
          - Asia/Damascus
          - Africa/Addis_Ababa
          - Indian/Antananarivo
          - Africa/Asmara
          - Africa/Dar_es_Salaam
          - Africa/Djibouti
          - Africa/Kampala
          - Indian/Mayotte
          - Africa/Mogadishu
          - Indian/Comoro
          - Africa/Nairobi
          - Europe/Athens
          - Asia/Beirut
          - Europe/Bucharest
          - Africa/Cairo
          - Europe/Chisinau
          - Asia/Hebron
          - Europe/Helsinki
          - Europe/Kyiv
          - Europe/Mariehamn
          - Asia/Nicosia
          - Europe/Riga
          - Europe/Sofia
          - Europe/Tallinn
          - Europe/Vilnius
          - Asia/Jerusalem
          - Europe/Minsk
          - Europe/Moscow
          - Europe/Simferopol
          - Antarctica/Syowa
          - Europe/Istanbul
          - Asia/Tehran
          - Asia/Yerevan
          - Asia/Baku
          - Asia/Tbilisi
          - Asia/Dubai
          - Asia/Muscat
          - Indian/Mauritius
          - Indian/Reunion
          - Europe/Samara
          - Indian/Mahe
          - Asia/Kabul
          - Indian/Kerguelen
          - Asia/Almaty
          - Indian/Maldives
          - Antarctica/Mawson
          - Asia/Karachi
          - Asia/Dushanbe
          - Asia/Ashgabat
          - Asia/Tashkent
          - Asia/Yekaterinburg
          - Asia/Colombo
          - Asia/Kolkata
          - Asia/Kathmandu
          - Asia/Dhaka
          - Asia/Thimphu
          - Asia/Urumqi
          - Indian/Chagos
          - Asia/Bishkek
          - Asia/Omsk
          - Indian/Cocos
          - Asia/Yangon
          - Indian/Christmas
          - Antarctica/Davis
          - Asia/Hovd
          - Asia/Bangkok
          - Asia/Ho_Chi_Minh
          - Asia/Phnom_Penh
          - Asia/Vientiane
          - Asia/Novosibirsk
          - Asia/Jakarta
          - Antarctica/Casey
          - Australia/Perth
          - Asia/Brunei
          - Asia/Makassar
          - Asia/Macau
          - Asia/Shanghai
          - Asia/Hong_Kong
          - Asia/Irkutsk
          - Asia/Kuala_Lumpur
          - Asia/Manila
          - Asia/Singapore
          - Asia/Taipei
          - Asia/Ulaanbaatar
          - Australia/Eucla
          - Asia/Jayapura
          - Asia/Tokyo
          - Asia/Pyongyang
          - Asia/Seoul
          - Pacific/Palau
          - Asia/Dili
          - Asia/Chita
          - Australia/Adelaide
          - Australia/Darwin
          - Australia/Brisbane
          - Australia/Sydney
          - Pacific/Guam
          - Pacific/Saipan
          - Pacific/Chuuk
          - Antarctica/DumontDUrville
          - Pacific/Port_Moresby
          - Asia/Vladivostok
          - Australia/Lord_Howe
          - Pacific/Bougainville
          - Pacific/Kosrae
          - Pacific/Noumea
          - Pacific/Norfolk
          - Asia/Sakhalin
          - Pacific/Guadalcanal
          - Pacific/Efate
          - Pacific/Fiji
          - Pacific/Tarawa
          - Asia/Kamchatka
          - Pacific/Majuro
          - Pacific/Nauru
          - Pacific/Auckland
          - Antarctica/McMurdo
          - Pacific/Funafuti
          - Pacific/Wake
          - Pacific/Wallis
          - Pacific/Chatham
          - Pacific/Kanton
          - Pacific/Apia
          - Pacific/Fakaofo
          - Pacific/Tongatapu
          - Pacific/Kiritimati
          description: Customer timezone.
          example: Europe/Paris
        available_payment_methods:
          type: array
          items:
            type: string
            enum:
            - card
            - apple_pay
            - google_pay
            - direct_debit
            - direct_debit_ach
            - direct_debit_bacs
            - stripe_link
            - transfer
            - transfer_automated
          description: List of payment methods you allow your customer to pay with.
            You customer will be able to select one of them in their portal page and
            those will be the default options when creating a checkout session.
          example:
          - card
          - direct_debit
        payment_method_type:
          type: string
          enum:
          - card
          - apple_pay
          - google_pay
          - direct_debit
          - direct_debit_ach
          - direct_debit_bacs
          - stripe_link
          - transfer
          - transfer_automated
          - external
          description: Default payment method type used to pay subscriptions and one-off
            invoices.
          example: card
        bank_account:
          $ref: '#/components/schemas/UpdateBankAccount'
        custom_payment_delay:
          type: number
          description: Custom payment terms in days. If not defined, the default one
            defined on the related invoicing entity will be used.
          example: 30
        custom_payment_initiation_delay:
          type: number
          description: Custom initiation delay in days before triggering payment.
            If not defined, the default one defined on the related invoicing entity
            will be used.
          example: 7
        organisation_id:
          type: string
          description: Parent organization ID to which the client is attached.
        organisation_invoicing:
          type: string
          enum:
          - none
          - every_invoice
          - concat
          default: none
          description: "\nHow customer invoices are issued from the parent organisation.\n\
            \n- `none`: Invoices will keep being issued from this customer.\n- `every_invoice`:\
            \ Customer invoices will be issued from the organisation individually.\n\
            - `concat`: Customer invoices will be grouped into a global parent invoice\
            \ at a regular schedule (configured on the organisation).\n "
        properties:
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: number
            - type: boolean
            - type: 'null'
            - type: array
              items:
                anyOf:
                - type: string
                - type: number
                - type: boolean
                - type: 'null'
                - type: 'null'
            - type: 'null'
          description: Key/value pairs to store any metadata useful in your context.
        custom_properties:
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: number
            - type: boolean
            - type: string
              format: date-time
              description: UTC date time string in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
                format.
              example: '2024-12-20T16:04:11Z'
            - type: array
              items:
                type: string
            - type: 'null'
          description: A list of key value with the slug of the custom property as
            the key and the custom property value as value.
        invoice_reminders_enabled:
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
          description: Indicates if invoice reminders are enabled for the customer.
        price_book_id:
          type: string
          description: Default price book ID assigned to the customer.
          example: prib_613_WbVIZ1329e
        owner_id:
          type: string
          description: ID of the Hyperline user responsible for this customer and
            targeted by customer agent notifications.
          example: usr_KMcxRWc1ZQwvJG
        follower_ids:
          type: array
          items:
            type: string
          description: IDs of Hyperline users following this customer.
          example:
          - usr_KMcxRWc1ZQwvJG
    CustomerDetailsV1:
      allOf:
      - $ref: '#/components/schemas/CustomerV1'
      - type: object
        properties:
          providers:
            type: object
            properties:
              adyen:
                type: string
              stripe:
                type: string
              mollie:
                type: string
              gocardless:
                type: string
              airwallex:
                type: string
              salesforce:
                type: string
              hubspot:
                type: string
              attio:
                type: string
              xero:
                type: string
              pennylane:
                type: string
              zoho-books:
                type: string
              exact-online:
                type: string
              quickbooks:
                type: string
              netsuite:
                type: string
              rillet:
                type: string
              datev:
                type: string
              anrok:
                type: string
              chargebee:
                type: string
              slack:
                type: string
              plain:
                type: string
              zendesk:
                type: string
              pylon:
                type: string
              intercom:
                type: string
              front:
                type: string
              helpscout:
                type: string
              claap:
                type: string
              grain:
                type: string
              gong:
                type: string
              jiminny:
                type: string
              posthog:
                type: string
            deprecated: true
            description: Deprecated field, please use `integrations`.
          current_payment_method:
            description: Default payment method of the customer. Only applies to card
              and direct debit.
            $ref: '#/components/schemas/PaymentMethod'
          bank_account:
            allOf:
            - $ref: '#/components/schemas/BankAccount'
            - anyOf:
              - $ref: '#/components/schemas/StandardBankAccount'
              - $ref: '#/components/schemas/ConnectedBankAccount'
              - type: 'null'
              description: Custom bank account for the customer. If not defined and
                customer paying by bank transfer, the bank accounts configured in
                your account settings will be used.
          organisation_id:
            type:
            - string
            - 'null'
            description: Parent organization ID to which the client is attached.
            example: null
          organisation_invoicing:
            type:
            - string
            - 'null'
            enum:
            - none
            - every_invoice
            - concat
            description: "\nHow customer invoices are issued from the parent organisation.\n\
              \n- `none`: Invoices will keep being issued from this customer.\n- `every_invoice`:\
              \ Customer invoices will be issued from the organisation individually.\n\
              - `concat`: Customer invoices will be grouped into a global parent invoice\
              \ at a regular schedule (configured on the organisation).\n "
            example: null
        required:
        - providers
        - current_payment_method
        - bank_account
        - organisation_id
        - organisation_invoicing
    CustomerV1:
      type: object
      properties:
        id:
          type: string
          description: Customer ID.
          example: cus_Typ0px2W0aiEtl
        name:
          type: string
          description: Customer name.
          example: Acme
        type:
          type:
          - string
          - 'null'
          enum:
          - corporate
          - person
          - automatically_created
          description: "\nCustomer type.\n\n- `corporate`: The customer is a business\
            \ entity.\n- `person`: The customer is a natural person.\n- `automatically_created`:\
            \ The customer was automatically imported (e.g. from a data loader). This\
            \ value cannot be used when creating/editing.\n "
          example: corporate
        status:
          type: string
          enum:
          - active
          - archived
          description: Customer status.
          example: active
        currency:
          type:
          - string
          - 'null'
          enum:
          - EUR
          - AED
          - AFN
          - XCD
          - ALL
          - AMD
          - AOA
          - ARS
          - USD
          - AUD
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - XOF
          - BMD
          - BND
          - BOB
          - BRL
          - BSD
          - BTN
          - NOK
          - BWP
          - BYR
          - BZD
          - CAD
          - CDF
          - XAF
          - CHF
          - NZD
          - CLP
          - CNY
          - COP
          - CRC
          - CUP
          - CVE
          - ANG
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - MAD
          - ERN
          - ETB
          - FJD
          - FKP
          - GBP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - INR
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - JPY
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MUR
          - MVR
          - MWK
          - MXN
          - MYR
          - MZN
          - NAD
          - XPF
          - NGN
          - NIO
          - NPR
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - YER
          - ZAR
          - ZMW
          - ZWL
          description: Currency code. See [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217#List_of_ISO_4217_currency_codes).
          example: EUR
        country:
          type:
          - string
          - 'null'
          enum:
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BF
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CR
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ES-CE
          - ES-ML
          - ET
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PT-20
          - PT-30
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SV
          - SX
          - SY
          - SZ
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XK
          - YE
          - YT
          - ZA
          - ZM
          - ZW
          description: Two-letter country code in ISO format. See [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          example: FR
        domain:
          type:
          - string
          - 'null'
          description: Customer domain. If not defined, it is inferred from the billing
            email.
          example: acme.com
        vat_number:
          type:
          - string
          - 'null'
          description: Deprecated field, please use `tax_ids`.
          deprecated: true
        vat_number_valid:
          type: boolean
          description: Deprecated field, please use `tax_ids`.
          deprecated: true
        vat_rate_custom:
          type:
          - number
          - 'null'
          description: Deprecated field, please use `tax_rate_custom`.
          deprecated: true
        tax_ids:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: Value of the customer tax ID.
                example: FR123456789
              status:
                type: string
                enum:
                - valid
                - invalid
                - mismatch
                - unverified
                - unsupported
                description: "\nVerification status of the customer tax ID.\n\n- `valid`:\
                  \ Tax ID has been verified and is valid.\n- `invalid`: Tax ID has\
                  \ been verified and is invalid.\n- `mismatch`: Tax ID is valid but\
                  \ is for a different country than the customer's country.\n- `unverified`:\
                  \ Tax ID has not been verified yet.\n- `unsupported`: Tax ID verification\
                  \ for this type not supported yet.\n "
                example: valid
            required:
            - value
            - status
          description: Customer tax IDs.
        local_tax_number:
          type:
          - string
          - 'null'
          description: Customer local tax number.
          example: 12/345/67890
        tax_rate_custom:
          type:
          - number
          - 'null'
          minimum: 0
          maximum: 100
          description: Customer custom tax rate. If not defined, the rate will be
            automatically determined based on the customer's country, your country,
            and applicable legal requirements.
        taxability:
          type: string
          enum:
          - taxable
          - exempt
          description: "Customer taxability.\n\n- `taxable`: Taxes are automatically\
            \ determined for the customer.\n- `exempt`: The customer is exempt from\
            \ tax.\n "
          example: taxable
        registration_number:
          type:
          - string
          - 'null'
          description: Customer registration number.
          example: '36252187900034'
        is_government_affiliated:
          type: boolean
          description: Indicates if the customer is affiliated with a government entity.
          example: false
        language:
          type:
          - string
          - 'null'
          enum:
          - fr
          - en
          - de
          - it
          - nl
          - es
          - pt
          - pl
          description: Language used for invoices, emails, and hosted pages.
          example: fr
        timezone:
          type:
          - string
          - 'null'
          enum:
          - Pacific/Midway
          - Pacific/Pago_Pago
          - Pacific/Niue
          - Pacific/Rarotonga
          - Pacific/Honolulu
          - Pacific/Tahiti
          - Pacific/Marquesas
          - Pacific/Gambier
          - America/Adak
          - America/Anchorage
          - Pacific/Pitcairn
          - America/Hermosillo
          - America/Phoenix
          - America/Los_Angeles
          - America/Tijuana
          - America/Vancouver
          - America/Whitehorse
          - America/Belize
          - America/Guatemala
          - America/Managua
          - America/Mexico_City
          - America/Costa_Rica
          - America/El_Salvador
          - America/Regina
          - America/Tegucigalpa
          - Pacific/Easter
          - Pacific/Galapagos
          - America/Edmonton
          - America/Ciudad_Juarez
          - America/Denver
          - America/Rio_Branco
          - America/Chicago
          - America/Matamoros
          - America/Winnipeg
          - America/Bogota
          - America/Atikokan
          - America/Cancun
          - America/Cayman
          - America/Jamaica
          - America/Panama
          - America/Guayaquil
          - America/Lima
          - America/Manaus
          - America/St_Kitts
          - America/Blanc-Sablon
          - America/Montserrat
          - America/Barbados
          - America/Port_of_Spain
          - America/Martinique
          - America/St_Lucia
          - America/St_Barthelemy
          - America/St_Vincent
          - America/Kralendijk
          - America/Guadeloupe
          - America/Marigot
          - America/Aruba
          - America/Lower_Princes
          - America/Tortola
          - America/Dominica
          - America/St_Thomas
          - America/Grenada
          - America/Antigua
          - America/Puerto_Rico
          - America/Santo_Domingo
          - America/Anguilla
          - America/Curacao
          - America/La_Paz
          - America/Santiago
          - America/Havana
          - America/Nassau
          - America/New_York
          - America/Port-au-Prince
          - America/Grand_Turk
          - America/Toronto
          - America/Guyana
          - America/Caracas
          - America/Argentina/Buenos_Aires
          - America/Halifax
          - Atlantic/Bermuda
          - America/Thule
          - America/Sao_Paulo
          - Antarctica/Palmer
          - America/Punta_Arenas
          - Atlantic/Stanley
          - America/Cayenne
          - America/Asuncion
          - America/Paramaribo
          - America/Montevideo
          - America/St_Johns
          - America/Noronha
          - Atlantic/South_Georgia
          - America/Miquelon
          - Atlantic/Cape_Verde
          - America/Nuuk
          - Atlantic/Azores
          - Etc/UTC
          - Africa/Abidjan
          - Africa/Bamako
          - Africa/Bissau
          - Africa/Conakry
          - Africa/Dakar
          - America/Danmarkshavn
          - Africa/Freetown
          - Atlantic/St_Helena
          - Africa/Accra
          - Africa/Lome
          - Africa/Monrovia
          - Africa/Nouakchott
          - Africa/Ouagadougou
          - Atlantic/Reykjavik
          - Africa/Sao_Tome
          - Africa/Banjul
          - Africa/Algiers
          - Africa/Tunis
          - Europe/Isle_of_Man
          - Europe/Dublin
          - Europe/London
          - Europe/Jersey
          - Europe/Guernsey
          - Africa/Bangui
          - Africa/Malabo
          - Africa/Brazzaville
          - Africa/Porto-Novo
          - Africa/Douala
          - Africa/Kinshasa
          - Africa/Lagos
          - Africa/Libreville
          - Africa/Luanda
          - Africa/Ndjamena
          - Africa/Niamey
          - Africa/Casablanca
          - Africa/El_Aaiun
          - Atlantic/Canary
          - Europe/Lisbon
          - Atlantic/Faroe
          - Africa/Bujumbura
          - Africa/Gaborone
          - Africa/Harare
          - Africa/Juba
          - Africa/Khartoum
          - Africa/Kigali
          - Africa/Blantyre
          - Africa/Lubumbashi
          - Africa/Lusaka
          - Africa/Maputo
          - Africa/Windhoek
          - Europe/Andorra
          - Europe/Belgrade
          - Europe/Berlin
          - Europe/Bratislava
          - Europe/Brussels
          - Europe/Budapest
          - Europe/Copenhagen
          - Europe/Gibraltar
          - Europe/Ljubljana
          - Arctic/Longyearbyen
          - Europe/Luxembourg
          - Europe/Madrid
          - Europe/Monaco
          - Europe/Oslo
          - Europe/Paris
          - Europe/Podgorica
          - Europe/Prague
          - Europe/Rome
          - Europe/Amsterdam
          - Europe/San_Marino
          - Europe/Malta
          - Europe/Sarajevo
          - Europe/Skopje
          - Europe/Stockholm
          - Europe/Tirane
          - Europe/Vaduz
          - Europe/Vatican
          - Europe/Vienna
          - Europe/Warsaw
          - Europe/Zagreb
          - Europe/Zurich
          - Europe/Kaliningrad
          - Africa/Tripoli
          - Antarctica/Troll
          - Africa/Johannesburg
          - Africa/Mbabane
          - Africa/Maseru
          - Asia/Kuwait
          - Asia/Bahrain
          - Asia/Baghdad
          - Asia/Qatar
          - Asia/Riyadh
          - Asia/Aden
          - Asia/Amman
          - Asia/Damascus
          - Africa/Addis_Ababa
          - Indian/Antananarivo
          - Africa/Asmara
          - Africa/Dar_es_Salaam
          - Africa/Djibouti
          - Africa/Kampala
          - Indian/Mayotte
          - Africa/Mogadishu
          - Indian/Comoro
          - Africa/Nairobi
          - Europe/Athens
          - Asia/Beirut
          - Europe/Bucharest
          - Africa/Cairo
          - Europe/Chisinau
          - Asia/Hebron
          - Europe/Helsinki
          - Europe/Kyiv
          - Europe/Mariehamn
          - Asia/Nicosia
          - Europe/Riga
          - Europe/Sofia
          - Europe/Tallinn
          - Europe/Vilnius
          - Asia/Jerusalem
          - Europe/Minsk
          - Europe/Moscow
          - Europe/Simferopol
          - Antarctica/Syowa
          - Europe/Istanbul
          - Asia/Tehran
          - Asia/Yerevan
          - Asia/Baku
          - Asia/Tbilisi
          - Asia/Dubai
          - Asia/Muscat
          - Indian/Mauritius
          - Indian/Reunion
          - Europe/Samara
          - Indian/Mahe
          - Asia/Kabul
          - Indian/Kerguelen
          - Asia/Almaty
          - Indian/Maldives
          - Antarctica/Mawson
          - Asia/Karachi
          - Asia/Dushanbe
          - Asia/Ashgabat
          - Asia/Tashkent
          - Asia/Yekaterinburg
          - Asia/Colombo
          - Asia/Kolkata
          - Asia/Kathmandu
          - Asia/Dhaka
          - Asia/Thimphu
          - Asia/Urumqi
          - Indian/Chagos
          - Asia/Bishkek
          - Asia/Omsk
          - Indian/Cocos
          - Asia/Yangon
          - Indian/Christmas
          - Antarctica/Davis
          - Asia/Hovd
          - Asia/Bangkok
          - Asia/Ho_Chi_Minh
          - Asia/Phnom_Penh
          - Asia/Vientiane
          - Asia/Novosibirsk
          - Asia/Jakarta
          - Antarctica/Casey
          - Australia/Perth
          - Asia/Brunei
          - Asia/Makassar
          - Asia/Macau
          - Asia/Shanghai
          - Asia/Hong_Kong
          - Asia/Irkutsk
          - Asia/Kuala_Lumpur
          - Asia/Manila
          - Asia/Singapore
          - Asia/Taipei
          - Asia/Ulaanbaatar
          - Australia/Eucla
          - Asia/Jayapura
          - Asia/Tokyo
          - Asia/Pyongyang
          - Asia/Seoul
          - Pacific/Palau
          - Asia/Dili
          - Asia/Chita
          - Australia/Adelaide
          - Australia/Darwin
          - Australia/Brisbane
          - Australia/Sydney
          - Pacific/Guam
          - Pacific/Saipan
          - Pacific/Chuuk
          - Antarctica/DumontDUrville
          - Pacific/Port_Moresby
          - Asia/Vladivostok
          - Australia/Lord_Howe
          - Pacific/Bougainville
          - Pacific/Kosrae
          - Pacific/Noumea
          - Pacific/Norfolk
          - Asia/Sakhalin
          - Pacific/Guadalcanal
          - Pacific/Efate
          - Pacific/Fiji
          - Pacific/Tarawa
          - Asia/Kamchatka
          - Pacific/Majuro
          - Pacific/Nauru
          - Pacific/Auckland
          - Antarctica/McMurdo
          - Pacific/Funafuti
          - Pacific/Wake
          - Pacific/Wallis
          - Pacific/Chatham
          - Pacific/Kanton
          - Pacific/Apia
          - Pacific/Fakaofo
          - Pacific/Tongatapu
          - Pacific/Kiritimati
          description: Customer timezone.
          example: Europe/Paris
        external_id:
          type:
          - string
          - 'null'
          description: ID of the customer in your system. This helps matching your
            customer with the one on Hyperline.
          example: null
        properties:
          type:
          - object
          - 'null'
          additionalProperties:
            anyOf:
            - type: string
            - type: number
            - type: boolean
            - type: 'null'
            - type: array
              items:
                anyOf:
                - type: string
                - type: number
                - type: boolean
                - type: 'null'
                - type: 'null'
            - type: 'null'
          description: Key/value pairs to store any metadata useful in your context.
          example: null
        custom_properties:
          type:
          - object
          - 'null'
          additionalProperties:
            anyOf:
            - type: string
            - type: number
            - type: boolean
            - type: string
              format: date-time
              description: UTC date time string in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
                format.
              example: '2024-12-20T16:04:11Z'
            - type: array
              items:
                type: string
            - type: 'null'
          description: A list of key value with the slug of the custom property as
            the key and the custom property value as value.
        billing_address:
          $ref: '#/components/schemas/Address'
        shipping_address:
          type:
          - object
          - 'null'
          properties:
            name:
              type:
              - string
              - 'null'
              description: Address name.
              example: Acme
            line1:
              type:
              - string
              - 'null'
              description: Address first line.
              example: 5 rue de Paradis
            line2:
              type:
              - string
              - 'null'
              description: Address second line (optional).
              example: null
            city:
              type:
              - string
              - 'null'
              description: Address city.
              example: Paris
            zip:
              type:
              - string
              - 'null'
              description: Address ZIP code.
              example: '75010'
            state:
              type:
              - string
              - 'null'
              enum:
              - AA
              - AE
              - AK
              - AL
              - AP
              - AR
              - AS
              - AZ
              - CA
              - CO
              - CT
              - DC
              - DE
              - FL
              - GA
              - GU
              - HI
              - IA
              - ID
              - IL
              - IN
              - KS
              - KY
              - LA
              - MA
              - MD
              - ME
              - MI
              - MN
              - MO
              - MP
              - MS
              - MT
              - NC
              - ND
              - NE
              - NH
              - NJ
              - NM
              - NV
              - NY
              - OH
              - OK
              - OR
              - PA
              - PR
              - RI
              - SC
              - SD
              - TN
              - TX
              - UT
              - VA
              - VI
              - VT
              - WA
              - WI
              - WV
              - WY
              description: Only for US country. Second part of subdivision code in
                ISO format. See [ISO 3166-2:US](https://en.wikipedia.org/wiki/ISO_3166-2:US).
              example: CA
            country:
              type:
              - string
              - 'null'
              enum:
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BF
              - BV
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ES-CE
              - ES-ML
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HM
              - HN
              - HR
              - HT
              - HU
              - IC
              - ID
              - IE
              - IL
              - IM
              - IN
              - IO
              - IQ
              - IR
              - IS
              - IT
              - JE
              - JM
              - JO
              - JP
              - KE
              - KG
              - KH
              - KI
              - KM
              - KN
              - KP
              - KR
              - KW
              - KY
              - KZ
              - LA
              - LB
              - LC
              - LI
              - LK
              - LR
              - LS
              - LT
              - LU
              - LV
              - LY
              - MA
              - MC
              - MD
              - ME
              - MF
              - MG
              - MH
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - NA
              - NC
              - NE
              - NF
              - NG
              - NI
              - NL
              - 'NO'
              - NP
              - NR
              - NU
              - NZ
              - OM
              - PA
              - PE
              - PF
              - PG
              - PH
              - PK
              - PL
              - PM
              - PN
              - PR
              - PS
              - PT
              - PT-20
              - PT-30
              - PW
              - PY
              - QA
              - RE
              - RO
              - RS
              - RU
              - RW
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SM
              - SN
              - SO
              - SR
              - SS
              - ST
              - SV
              - SX
              - SY
              - SZ
              - TC
              - TD
              - TF
              - TG
              - TH
              - TJ
              - TK
              - TL
              - TM
              - TN
              - TO
              - TR
              - TT
              - TV
              - TW
              - TZ
              - UA
              - UG
              - UM
              - US
              - UY
              - UZ
              - VA
              - VC
              - VE
              - VG
              - VI
              - VN
              - VU
              - WF
              - WS
              - XK
              - YE
              - YT
              - ZA
              - ZM
              - ZW
              description: Two-letter country code in ISO format. See [ISO 3166-1
                alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              example: FR
          description: Customer shipping address.
        billing_email:
          type:
          - string
          - 'null'
          format: email
          description: Email to which all communications will be sent.
          example: billing@acme.com
        invoice_emails:
          type: array
          items:
            type: string
            format: email
          description: Emails to which invoices will be sent (e.g. payer, finance
            team, accounting firm). If not defined, invoices will be sent to the `billing_email`;
            otherwise, they won't be sent to the `billing_email`.
          example:
          - accounting@acme.com
        invoicing_entity_id:
          type: string
          description: ID of the invoicing entity this customer will be attached to.
          example: ive_484dn4U48E
        invoice_reminders_enabled:
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
          description: Indicates if invoice reminders are enabled for the customer.
        price_book_id:
          type:
          - string
          - 'null'
          description: Default price book ID assigned to the customer.
          example: prib_613_WbVIZ1329e
        available_payment_methods:
          type: array
          items:
            type: string
            enum:
            - card
            - apple_pay
            - google_pay
            - direct_debit
            - direct_debit_ach
            - direct_debit_bacs
            - stripe_link
            - transfer
            - transfer_automated
          description: List of payment methods you allow your customer to pay with.
            You customer will be able to select one of them in their portal page and
            those will be the default options when creating a checkout session.
          example:
          - card
          - direct_debit
        current_payment_method_type:
          type:
          - string
          - 'null'
          enum:
          - card
          - apple_pay
          - google_pay
          - direct_debit
          - direct_debit_ach
          - direct_debit_bacs
          - stripe_link
          - transfer
          - transfer_automated
          - external
          description: Default payment method type used to pay subscriptions and one-off
            invoices.
[...]
